.game-container
{
    background-image: url("../images/white_sand.png");
    width: 41.4%;
    margin-left: .5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: 2px solid black;
}

.game-title-box
{
    background-color: chocolate;
    width: 154px;
    height: 50px;
    margin-left: 5px;
}

.game-title
{
    padding-top: 9%;
    color: white;
    text-align: center;
    font-size: 19px;
}

.game-desc-box
{
    width: 80%;
    background-color: bisque;
    margin-left: 5px;
    margin-top: 6px;
}

.game-desc
{
    font-size: 15px;
    color: forestgreen;
    font-family: "Georgia", "Times New Roman", Times, serif;
    /*font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;*/
    padding: 1px;
}

.random-number-box
{
    width: 125px;
    height: 65px;
    margin-left: 5px;
    background-color: mediumseagreen;
    margin-top: 6px;
}

.results
{
    width: 50px;
    height: 65px;
    margin-left: 5px;
    background-color: aqua;
    position: absolute;
    left: 138px;
    top: 358px;
}

.buttons-box
{
    margin-left: 5px;
    margin-top: 6px;
}

.total-score-box-1
{
    width: 130px;
    height: 22px;
    margin-left: 5px;
    background-color: lightseagreen;
    margin-top: 6px;
}

.total-score
{
    font-size: 14px;
    color: white;
    font-family: "Georgia", "Times New Roman", Times, serif;
    /*font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;*/
    padding: 3px;
}

.total-score-box-2
{
    width: 130px;
    height: 65px;
    margin-left: 5px;
    background-color: lightseagreen;
    margin-top: 6px;
}

#img-1
{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 17px;
    top: 433px;
}

#img-2
{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 68px;
    top: 433px;
}

#img-3
{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 121px;
    top: 433px;
}

#img-4
{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 173px;
    top: 433px;
}

#button-1
{
    width: 48px;
    height: 48px;
    background-color: white;
}

#button-2
{
    width: 48px;
    height: 48px;
    background-color: white;
}

#button-3
{
    width: 48px;
    height: 48px;
    background-color: white;
}

#button-4
{
    width: 48px;
    height: 48px;
    background-color: white;
}
